{% extends 'Admin/admin_header.html' %}
<html>
<head>
    <title>View Reviews and Ratings</title>
    <link rel="stylesheet" href="/static/assets/css/professional_styles.css">
</head>
{% block body %}
<body>
<table border="2">
    <thead>
    <th>SI_No</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Review</th>
    <th>User_Details</th>
    </thead>
    {% for i in data %}
    <tbody>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.rating }}</td>
    <td>{{ i.review }}</td>
    <td>{{ i.user.name }}</td>
    </tbody>
    {% endfor %}
</table>
</body>
{% endblock %}
</html>