{% extends 'Expert/admin_header.html' %}
<html>
<head>
    <title>View Startup Ideas</title>
    <link rel="stylesheet" href="/static/assets/css/professional_styles.css">
</head>
{% block body %}
<body>
<table border="2">
    <thead>
    <th>SI_No</th>
    <th>Title</th>
    <th>Description</th>
    <th>Technology</th>
    <th>Date</th>
    <th>Action</th>
    </thead>
    {% for i in data %}
    <tbody>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.title }}</td>
    <td>{{ i.description }}</td>
    <td>{{ i.technologies }}</td>
    <td>{{ i.date }}</td>
    <td>
        <a href="/myapp/edit_idea/{{ i.id }}">Edit</a><br><br>
        <a href="/myapp/delete_idea/{{ i.id }}" onclick="return confirm('Are you sure you want to remove this Idea?')">Delete</a><br>
    </td>
    </tbody>
    {% endfor %}
</table>
</body>
{% endblock %}
</html>