{% extends "Expert/expert_header.html" %}
{% block exp %}
<html>
<head>
    <title>View Student Doubts</title>
    <link rel="stylesheet" href="/static/assets/css/professional_styles.css">
</head>
<body>
<br>
<table>
    <thead>
    <th>SI_No</th>
    <th>Student</th>
    <th>Expert</th>
    <th>Description</th>
    <th>Date</th>
    <th>Request_reply</th>
    <th>Status</th>
    <th>Action</th>
    </thead>
    {% for i in data %}
    <tbody>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.student }}</td>
    <td>{{ i.expert }}</td>
    <td>{{ i.description }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.request_reply }}</td>
    <td>{{ i.status }}</td>
    <td>
        <a href="/myapp/send_reply_e2/{{ i.id }}">Reply</a><br>
    </td>
    </tbody>
    {% endfor %}
</table>
</body>
{% endblock %}
</html>